<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssuredAuthSuite">
  <test name="RestAssuredAuthTest">
    <classes>
      <class name="com.ontestautomation.restassured.authentication.RestAssuredAuthenticationTest"/>
    </classes>
  </test> <!-- RestAssuredAuthTest -->
</suite> <!-- RestAssuredAuthSuite -->
